* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.container-main {
  height: 100vh;
  width: 100%;
  background-color: #020817;
  /* background-size: cover; */
  /* background-position: center; */
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px 25px 30px;
  background-color: #000000;
  transition: 0.5s;
}

.portifolio {
  color: #ffffff;
  font-size: 2.3em;
  font-weight: 700;
}

.portifolio span {
  color: #f9004d;
}

li {
  color: #ffffff;
  list-style: none;
  display: inline-block;
  font-size: 1.3em;
  margin-right: 4em;
  cursor: pointer;
}

.link-menu {
  text-decoration: none;
  color: #ffffff;
}

.link-menu:hover {
  color: #f9004d;
  transition: 0.5s;
}

.container-secondary {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: #ffffff;
  font-size: 5.5em;
}

.container-secondary span {
  color: #f9004d;
}

.container-secondary h2 {
  color: #ffffff;
  font-size: 2.1em;
}

.container-secondary h3 {
  color: #ffffff;
  font-size: 1.4em;
  margin-top: 80px;
  width: 100%;
  max-width: 750px;
}

section {
  display: flex;
  align-items: center;
  padding: 30px 23%;
  background-color: #000000;
  justify-content: center;
}

section img {
  height: 400px;
  border-radius: 100%;
  border: solid #f9004d 4px;
  margin-right: 30px;
}

section h2 {
  color: #ffffff;
  font-size: 4.2em;
}

section p {
  color: #ffffff;
  margin: 15px 30px 35px 0;
}

section a {
  background-color: #f9004d;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.9s;
  text-decoration: none;
}

section a:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
}

.projetos {
  background-color: #191919;
  padding-top: 50px;
  padding-bottom: 100px;
}

.projetos h2 {
  color: #ffffff;
  font-size: 75px;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  height: 450px;
  width: 335px;
  border-radius: 20px;
  padding: 20px 35px;
  text-align: center;
}

.card img {
  width: 100px;
  height: 100px;
}

.card h5 {
  color: #ffffff;
  font-size: 24px;
  margin-top: 20px;
}

.card h6 {
  color: #ffffff;
  font-size: 24px;
  margin-top: -20px;
}

.card p {
  color: #ffffff;
  margin: 20px 0 40px 0;
}

.card a {
  background-color: #f9004d;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.9s;
  text-decoration: none;
}

.card a:hover {
  background-color: transparent;
  border: 2px solid #f9004d;
}

.card-projects {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

footer {
  background-color: #000000;
  padding: 100px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer h5 {
  color: #ffffff;
  font-size: 30px;
}

footer p {
  color: #ffffff;
  font-size: 18;
  margin-bottom: 30px;
  margin-top: 14px;
}

.social {
  display: flex;
  gap: 20px;
}

.social img {
  height: 25px;
  border-radius: 50%;
}

.social a {
  background-color: #f9004d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.5s;
}

span {
  color: #f9004d;
}

.menu-icon {
  margin-right: 20px;
  display: none;
}
